<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Web app</h1>
        <p>Sample web application to send text message to Android application</p>

        <ul>
            <li>Python 3.8.2</li>
            <li>Django 3.0.7</li>
        </ul>

        <a href="{% url 'message' %}">Send message</a>
    </div>
</body>

</html>